#main {
  background-image: url("background.jpg");
}

a:hover{
  color:#d1d5db;
}

.login:hover{
  color:#d1d5db;
}

.tool-link a:hover{
  text-decoration: underline;
  color: #374151;
}

.footer p{
  text-transform: uppercase;
  font-weight: bold;
}

.footer-link a:hover{
  text-decoration: underline;
  color: #374151;
}

